ul {
  margin: 0;
  padding: 0;
  width: 720px;
  list-style: none;
  background: #159cb0 url("../imagens_menu_horizontal/fundo-horizontal.png") repeat-x;
  float: left;
}

ul li {
  float: left;
}

ul a {
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
    /* background: #159cb0 url("../imagens_menu_horizontal/divisor.png") repeat-y left; */
}
