/*
*** formatação de uma lista
*/

ul.lista {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.lista li{
padding: 5px 15px;
background: url("../imagens_menu_vertical/seta.png") no-repeat left center;
}

/*
*** formatação de menu vertical
*/

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.menu li {
  border: 1px solid red;
  width: 200px;
  height: 40px;
  display: block;
}

a {
  display: block;
  text-indent: 30px;
  text-decoration: none;
  color: #000;
  line-height: 40px;
  background: url("../imagens_menu_vertical/menu.png") no-repeat left bottom;
}

a:hover {
  color: #fff;
  background-position: right bottom;
}
